/* your code here */
.photo-main{
	padding: 20px;
	background-color: #BAE94B;
}
.controls{
	display: flex;
	justify-content: space-between;
	color: white;
}
.photo-album>ul{
	list-style: none;
}
.photo-album>ul>li{
	display: inline;
}
.photo-album>ul>li>img{
	width:50px;
	padding: 5px;
	border: 1px solid gray;
	border-radius: 10px;
}
.title>h1{
	color: #4C4C4C;
}
.title>span{
	color: #C5C5C5;
}
.price{
	color: #FE3F40;
}
.price>span{
	font-size: 40px;
	font-weight: 500;
	margin-left: 5px;
}
.variant>h3{
	color: #A6A6A6;
}
.variant>ul{
	list-style: none;
}
.variant>ul>li{
	display: inline;
}
.variant>ul>li>img{
	width: 50px;
	margin-inline: 10px;
	box-shadow: 5px 5px 10px rgb(0,0,0,0.5);
}
.variant>ul>li>img:hover{
	border: 1px solid #A6A6A6;
	border-radius: 10px;
	padding: 5px;
}
.benefits>h3{
	color: #A6A6A6;
}
.benefits>ul{
	margin-left: 20px;
}
.benefits>ul>li{
	font-size: 20px;
	margin-top: 5px;
	font-weight: 200;
}